<div class="row" style="padding: 50px 0;">
  <div class="columns">
    <p>{{ 'collections.no_products_feedback' | t }}</p>
    <a target="_blank" class="button" href="/admin/products">{{ 'collections.no_products_link' | t }}</a>
  </div>
</div>
